body {
    background: #c3c2ba;
  }
  
  .topHeader {
    border: 3px solid #313638;
  }
  
  .titanPanel {
    width: 100%;
    height: 60px;
    background: #e0dfd5;
    border: 3px solid #313638;
    display: flex;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    user-select: none;
  }
  
  .toolbelt {
    width: 100px;
    height: 900px;
    background: #5998c5;
    border: 3px solid #313638;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    user-select: none;
  }
  
  .collect {
    width: 350px;
    background: #707070;
    border: 3px solid #313638;
    height: 900px;
  }
  
  .refine {
    width: 350px;
    background: #797270;
    border: 3px solid #313638;
  }
  
  .craft {
    width: 350px;
    background: #776871;
    border: 3px solid #313638;
  }
  